header {
  background-color: #FFE4B5;
  padding: 10px;
}

h1{
  font-family:"Courier New";
  font-size:40px;
  text-align: center;
}
h2{
  font-family: "Courier New";
  text-align: center;
}

p{
  font-family: "Courier New";
  font-size: 15px;
}

img {
  height: 100%;
  width: 100%;
  padding:5px;
  box-shadow: rgba(0,0,0,0.2) 10px 10px;
  margin-right:350px;
  margin-bottom: 50px;
  position:absolute;
}

a{
    color:#4169E1;
    font-size: 20px;
    font-family: "Courier New";
    font-style: bold;
  }

a:hover{
    color:#9932CC;
    font-style: bold;
  }

a:visited{
    color:#9932CC;
    font-style: bold;
  }

#postlist{
  float:right;
  width: 100%;
}

h3{
  font-family: "Courier New";
}

footer{
  bottom:0;
  width:100%;
  background-color: #FFE4B5;
  clear:both;
  padding:5px;
  margin-top: 100px;
}

ol{
  font-family: "Courier New";
  font-size:20px;
}

nav{
  list-style-type: none;
  clear:both;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  border: 3px solid #000000;
  padding: 50px;
  border-radius: 5px 5px;
  background-color: #F08080;
  width: 100%
    }

nav> a{
  font-family: 'entypo';
  font-size: 50px;
  width:100%;
  }